[user]
  email = hemstad@live.com
  name = Jonathan Hemstad
[alias]
  last = log -1 HEAD
  co = checkout
  br = branch
  ci = commit
  st = status
  cl = clone
  g = git
  d = diff
  a = !git add . && git status
  au = !git add -u && git status
  aa = !git add -A && git status
  l = log --graph --all --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
  ll = log --stat --abbrev-commit
  lg = log --color --graph --pretty=format:'%C(bold white)%h%Creset -%C(bold green)%d%Creset %s %C(bold green)(%cr)%Creset %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  llg = log --color --graph --pretty=format:'%C(bold white)%H %d%Creset%n%s%n%+b%C(bold blue)%an <%ae>%Creset %C(bold green)%cr (%ci)' --abbrev-commit
[core]
  excludesfile = /Users/jhe/dotfiles/.gitignore_global
